html {
    background-color: wheat;
  }
  
  body {
    background-color: aliceblue;
    width: 50em;
    min-height: 20em;
    padding: 0.5em;
    margin: auto;
    margin-top: 2em;
  }
  
  body h1 {
    text-align: center;
  }
  
  body p {
    text-align: justify;
  }