html {
  background-color: wheat;
}

body {
  background-color: aliceblue;
  width: 50em;
  min-height: 20em;
  padding: 0.5em;
  margin: auto;
  margin-top: 2em;
}

body h1 {
  text-align: center;
}

body p {
  text-align: justify;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  display: flex;
  height: 2em;
  width: 10em;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
  margin: 1em;
  background-color: royalblue;
  text-decoration: none;
  color: black;
  transition: 1s;
}

nav a:hover {
  background-color: orange;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.square {
  width: 5em;
  height: 5em;
  border: 1px solid;
}

.rectangle {
  width: 6em;
  height: 4em;
  border: 1px solid;
}

.circle {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 1px solid;
}
